* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

.container {
    display: flex;
    background-color: white;
    max-width: 100%;
}

.img_logo {
    margin-top: 20px;
    width: 40%;
}

.cadastro {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 320px;
    height: 590px;
    margin: 25px 80px 20px 120px;
    align-items: center;
    border-radius: 30px;
    box-shadow: 3px 3px 3px #e1e1e1, -3px 0 3px #e1e1e1;
    border-top: 10px solid #ff914d;
}

.texto_sobre_form {
    margin: 20px 15px 0 15px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
}

.texto_otimize {
    width: 516px;
    height: 178px;
    margin-top: 40px;
    font-family: 'Montserrat';
}

.titulo_otimize {
    margin: 60px 0 0 0;
}

.texto {
    margin: 20px 0 0 0px;
    font-size: 14px;
    text-align: justify;
    text-indent: 13px
}

.preencher_cadastro {
    margin-top: 20px;
    width: 85%;
}

.forms {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input_forms {
    display: flex;
    flex-direction: column;
}

.input_forms .input {
    margin-top: 5px;
}

.input_forms input {
    padding: 5px 5px;
    border-radius: 4px;
    border: 1px solid #e1e1e1;
    font-size: 12px;
    font-family: 'Montserrat';
}

.input_forms label {
    padding: 5px 5px;
    border-radius: 4px;
    border-top: 1px solid #e1e1e1;
    font-size: 12px;
    font-family: 'Montserrat';
}

.cont_planos,
.cont_medicos,
.cont_esp {
    display: flex;
    flex-direction: column;
    padding: 5px 5px;
    border-radius: 5px;
    border: 1px solid #e1e1e1;
    font-size: 12px;
    font-family: 'Montserrat';
    margin-top: 5px;
}

.cont_planos,
.cont_medicos,
.cont_esp {
    background-color: #f0eded;
}

.cont_medicos .lista {
    margin: 0;
    border: none;
}

.cont_medicos .input {
    border: 0px solid #e1e1e1;
}

.cont_planos .lista {
    margin: 0;
    border: none;
}

.cont_planos .input {
    border: 0px solid #e1e1e1;
}

.cont_esp .lista {
    margin: 0;
    border: none;
}

.cont_esp .input {
    border: 0px solid #e1e1e1;
}

.input_forms select {
    padding: 1px 1px;
    border: 0;
    font-size: 11px;
    font-family: 'Montserrat';
    width: 100%;
}

.input_forms input:hover {
    /*focus usado ao clicar*/
    border-color: #ff914d;

}

.input_forms input:hover::placeholder {
    color: #ff914d;
}

option:hover {
    color: #ff914d;
}

.check_box {
    display: flex;
    gap: 15px;
}

.check_box .input {
    width: 80%;
}

.input_forms .check_box .texto_check {
    font-size: 11px;
    border: none;
}

.botao button {
    border: none;
    background-color: #ef894e;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 40px;
    padding: 10px 10px 10px 10px;
    box-shadow: 0 -2px 1px#c0bfbf;
}

.botao button:hover {
    background-color: #1e2759;
}

.botao button a {
    color: white;
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
}

/*-------------------Com interferencia do javascript------------------------------*/
.modal {
    position: absolute;
    background-color: rgba(52, 52, 50, 0.749);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.conteudo-modal img {
    width: 10%;
}

.conteudo-modal {
    justify-content: center;
    background-color: white;
    align-items: center;
    height: 120px;
    width: 460px;
    border-radius: 10px;
    border-top: 7px solid #ff914d;
    gap: 15px;
    font-family: 'Montserrat';
    font-size: 14px;
}

.informacoes-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:20px 50px 40px 50px;
    gap: 15px;
}

.fechar-modal {
    /* Incluir no javascript*/
    width: 100%;
    color: black;
    font-size: 13px;
    font-weight: bold;
    text-align: right;
    float: right;
    cursor: pointer;
    margin: 20px 30px 10px 0;
    border: 0;
}

.modal.aberto { /*Incluir no javascript*/
    opacity: 1;
    visibility: visible;
}