* {
    margin: 0;
    padding: 0;
}


html {
    font-size: 62.5%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: grey;
    font-family: 'Montserrat';
    font-size: 1.6rem;
}

.email_redefinir{
    border-radius: 30px;
    box-shadow: 1px 1px 1px #C2C2C2, -1px 0 1px #C2C2C2;
    border-top: 10px solid #ff914d;
    margin-top: 170px;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   background-color: white;
    width: 32%;
    height: 250px;
}

.sobre_forms{
    font-size: 1.5rem;
    font-weight: 400;
}

.container_email{
    margin-top:10px ;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
}

.voltar{
    display: flex;
    align-items: center;
    
}

.voltar_palavra{
   color: black;
   text-decoration: none;
   font-size: 1.2rem;
   margin-left: 5px;
}

.voltar_icon{
    width: 5%;
    margin-left: 30px;
}

.logo{

    width: 27%;
    height: 50%;
    margin-right: 30px;
    margin-top: 20px;
}

.forms_recuperacao{
    width: 100%;
    height: 60%;
    padding-left: 15px;
}

.container_sobre{
  display: flex;
  height: 30%;
}

.input_forms input {
    margin-top: 20px;
    padding: 3px 5px 3px 5px;
    border-radius: 3px;
    border: 1.5px solid #e1e1e1;
    font-size: 1.3rem;
    height: 30px;
    width: 90%;
    text-align: center;
}

.input_forms input:hover {
    border-color: #ff914d;
}

.input_forms input::placeholder{
    font-size: 1.1rem;
}

.input_forms input:hover::placeholder {
    color:#ff914d;
}

.botao{
    margin: auto;
}

.botao button {
   background-color:#252D5A;
   text-align: center;
    margin-top: 20px;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 4px;
    font-size: 1.4rem;
    cursor: pointer;
    width: 93%;
    height: 40px;
}

.botao button:hover{
    background-color: #ff914d;
}

.rodape{
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 120px;
    text-align: center;
}

.container_rodape{
    width: 90vw;
}
