* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: rgb(114, 117, 114) ;
    font-family: 'Montserrat';
}

.img_logo {
    margin-top: 20px;
    width: 40%;
    padding-top: 5%;
}

.container{
    display: flex;
    flex-direction: column;
}

.cadastro {
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 20%;
    margin: auto;
    margin-top: 50px;
    height: 450px;
    align-items: center;
    border-radius: 30px;
    box-shadow: 1px 1px 1px #C2C2C2, -1px 0 1px #C2C2C2;
    border-top: 10px solid #ff914d;
}


.texto_sobre_form {
    margin-top: 30px;
    padding: 0;
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;

}

.preencher_cadastro {
    margin-top: 10px;
    width: 60%;
}

.forms {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.input_forms {
    display: flex;
    width: 140%;
    flex-direction: column;
    padding-top: 10%;
}

.input_forms input {
    margin-top: 5px;
    padding: 1px 5px 1px 5px;
    border-radius: 5px;
    border: 1px solid #e1e1e1;
    font-size: 1.2rem;
    height: 30px;
}

.input_forms input:hover{
    border-color: #ff914d;
}
.input_forms input:hover::placeholder{
    color:#ff914d;
}

.esqueceu_senha{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    padding-left: 10px;
    color: black;
    margin-top: 7px;
}

.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.botao button {
    background-color:#252D5A;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    cursor: pointer;
    width: 100%;
    height: 35px;
}

.botao button:hover{
    background-color: #ff914d;
}

.teste_texto{
    font-size: 1.2rem;
    text-align: center;
    font-weight: 500;
    margin-top: 80px;
}

.rodape{
    text-align: center;
    margin-top: 60px;
    font-weight: bold;
    font-size: 1.2rem;
}

@media screen and (max-width: 768px) {

    .container {
        display: flex;
        flex-direction: column;
        background-color: white;
        max-width: 100%;
    }

    .cadastro {
        display: flex;
        flex-direction: column;
        background-color: white;
        max-width: 90%;
        margin: 0 auto;
        margin-top: 20px;
        height: auto;
        border-radius: 30px;
        box-shadow: 3px 3px 3px #e1e1e1, -3px 0 3px #e1e1e1;
        border-top: 10px solid #ff914d;
    }

    .img_logo {
        margin-top: 20px;
        width: 50%;
    }
}
